button {
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    width: 110px;
    height: initial;
    font-size: larger;
    background: #ffd7d7;
    color: #000;
    border: 1px solid red;
    &:hover {
        background-color: red;
        color: white;
    }
}

#createPost {
    display: none;
}

#openForm {
    margin: 10px;
    margin-right: 25px;
    width: initial;
    font-weight: bold;
}

#newPost {
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: 110px;
    height: initial;
    font-size: larger;
    font-weight: bold;
}