button {
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    width: 110px;
    height: initial;
    font-size: larger;
    background: #ffd7d7;
    color: #000;
    border: 1px solid red;
    &:hover {
        background-color: red;
        color: white;
    }
}

#editPost, #sendComment, #openForm, #newPost {
    width: initial;
}

#editPost, #sendComment, #openForm {
    margin: 10px;
    margin-right: 25px;
}

#editPost, #openForm, #newPost {
    font-weight: bold;
}

#sendComment {
    padding: 3px;
    border-radius: 5px;
    &:hover {
        background-color: #ffd7d7;
        color:black;
    }
}

#createPost {
    display: none;
}
