button {
    background-color: #fd2b01;
    color: white;
    font-size: 50px;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border: none;
    margin: auto;
    font-weight: 900;

}

#createPost {
    display: none;
}