#commentSection {
    background-color: white;

    .modifier {
        padding-right: 10px;
        cursor: pointer;
        text-decoration: underline;
    }

    #comment {
        display: flex;
        flex-direction: column;        
        padding-bottom: 20px;

        #commentButtonContainer {
            border: solid 1px grey;
            border-radius: 0px 0px 8px 8px;
            #sendComment {
                margin: 10px;
                margin-right: 25px;
                padding: 3px;
                border-radius: 5px;
                width: initial;
                height: initial;
    
            }
        }
    }
    
    .comment {
        padding-bottom: 15px;
    }

    .commentTextBloc {
        padding: 10px;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid grey;
    }

    #comment, .comment {
        display: flex;
        padding-top: 7px;

        #commentText{
            border-radius: 8px;
            border: 1px solid grey;
            margin-right:10px;
        }

        #authorPic {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid red;
            object-fit: cover;
        }

        #commentContent {
            margin-left: 20px;
            width: 100%;

            #authorC {
                text-align: left;
                font-weight: bolder;
                margin-bottom: 1px;
            }

            #commentContentText {
                text-align: left;
                margin-bottom: 1px;                
            }
        }

    }
}