.header {
    background-color: #fd2b01;
    text-align: center;

    nav {
      margin: auto;
      display: flex;
      justify-content: space-around;
      @media screen and (min-width: 1024px){
        width: 50%;
      }
    }
    
    img {
      margin: 10px;
      width: 50%;
        @media screen and (min-width: 768px){
          width: 30%;
          margin: 30px;
        }
        @media screen and (min-width: 1024px){
          width: 70%;
          margin: 30px;
        }
    }

    .navIcon{
      height: 50px;
      width: 50px;
      border-radius: 50px;     
      object-fit: cover;
    }

    .invisible {
      display: none;
    }
  }