#postCreatorBloc{
    background-color: white;

    #postContainer{
        padding: 0px;

        #postTitle {
            border-radius: 8px 8px 0px 0px;
            border: 1px solid grey;
            margin-bottom: 0px;
        }

        #postBody{
            margin-bottom: 0px;
            border-radius: 0px 0px 8px 8px;
            border: 1px solid grey;
        }

    }
}
#picContainer {
    border: 2px solid red;
    background-color: #ffd7d7;
    margin-bottom: 20px;
    border-radius: 8px;
}

#postPic{
    max-width: 100%;
    height: auto;
    max-height: 420px;
    margin: auto;
    object-fit: cover;
}

#editedTitle {
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid gray;
}

#editedContent {
    padding: 10px;
    border: solid 1px gray;
    border-radius: 0px 0px 8px 8px;
}

#editPost {
    margin: 10px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    width: initial;
    height: initial;
    font-size: larger;
    font-weight: bold;
}

#createPost, #postCreatorBox {
    padding: 0px;

}