#postCreatorBloc{
    background-color: white;

    #postContainer{
        border-radius: 8px;
        border: 1px solid grey;
        padding: 15px;

        #postTitle, #postBody{
            border-radius: 8px;
            border: 1px solid grey;
        }

        #postBody{
            margin-bottom: 0px;
        }
        
        #postTitle{
            margin-bottom: 10px;
        }


    }
}
#picContainer {
    border: 2px solid red;
    background-color: #ffd7d7;
    margin-bottom: 20px;
    border-radius: 8px;
}

#postPic{
    max-width: 100%;
    height: auto;
    max-height: 420px;
    margin: auto;
    object-fit: cover;
}