.formContainer {
    position: relative;
  }

label {
    position: absolute;
    bottom: 0px;
    left: 15px;
    transition: transform 200ms ease-in-out;
}

.proForm {
    margin-bottom: 35px;
    margin-top: 35px;

    &:focus + label {
      transform: translate(0, -35px);
    }
}

.completed+label {
    transform: translate(0, -35px);
}

#profilePic {
    height: 200px;
    width: 200px;
    border: 2px solid red;
    object-fit: cover;
    border-radius: 200px;

}

#picContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;

    #picUpload {
        position: absolute;
        width:134px;    
        top: 45%;
        border: 0px;
    }
    #profilePicUpload {
        position: absolute;
        width:134px;    
        top: 110px;
        border: 0px;
    }
}

input[type='file'] {
    color: transparent;
  }

#email, #password, #verifyPassword {
    background-image: none;
  }

  #logOut, #deleteUser {
    cursor: pointer;
    text-decoration: underline;
  }
